
div {

  margin-top: 5%;
  width: 100%;

}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 79%;
}

.abonnement{
  margin-left: 69%;
}

h1 {
  margin-left: 15px;
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
  margin-top: 15%;
  margin-right: -20%;
}
.button1 {

  margin-left: 24%;
  display: inline;
}
.button2 {
  margin-left: 15%;
  display: inline;
}

.main-body {
  width: 93%;
  margin-left: 3%;
}

.mat-elevation-z8{
  margin-bottom: 10%;

}
