.content {
  padding-top: 10px;
  width: 100%;
}
.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-left: 100px;
  mat-form-field {
    width: 70%;
  }
}

.head {
  padding-bottom: 4%;
}

.action {
  padding: 0px 25px 20px;
  button {
    display: flex;
    flex: 1;
    max-width: 100px;
    margin-left: 88%;
  }
}
